## Deliverable 2. Create a Customer Travel Destinations Map.

In [32]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config_challenge2 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [37]:
# 1. Import the WeatherPy_database.csv file.
city_data_df = pd.read_csv(r"C:\Users\carly\OneDrive\Desktop\data_bootcamp\analysis_projects\World_Weather_Analysis\Weather_Database\WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Noormarkku,FI,3/24/2021 20:03,61.5927,21.8685,41.00,75,0,8.05,clear sky
1,1,Khatanga,RU,3/24/2021 20:03,71.9667,102.5000,-3.10,93,100,3.11,overcast clouds
2,2,Alyangula,AU,3/24/2021 20:03,-13.8483,136.4192,81.19,83,100,6.96,overcast clouds
3,3,Kapaa,US,3/24/2021 20:03,22.0752,-159.3190,78.01,69,40,8.05,scattered clouds
4,4,Bluff,NZ,3/24/2021 20:00,-46.6000,168.3333,46.99,97,14,8.23,few clouds

In [38]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for you trip?"))

What is the minimum temperature you would like for your trip?20
What is the maximum temperature you would like for you trip?45

In [40]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Noormarkku,FI,3/24/2021 20:03,61.5927,21.8685,41.00,75,0,8.05,clear sky
8,8,Kyzyl-Suu,KG,3/24/2021 20:03,42.3414,78.0056,39.09,42,97,9.82,overcast clouds
10,10,Nakhodka,RU,3/24/2021 20:03,42.8333,132.8947,37.08,76,100,5.41,overcast clouds
12,12,Agapovka,RU,3/24/2021 20:03,53.2973,59.1348,21.20,93,75,8.95,broken clouds
43,43,Hornepayne,CA,3/24/2021 20:03,49.2138,-84.7705,27.25,95,100,10.89,snow

In [42]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City_ID                135
City                   135
Country                135
Date                   135
Lat                    135
Lng                    135
Max Temp               135
Humidity               135
Cloudiness             135
Wind Speed             135
Weather Description    135
dtype: int64

In [50]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [52]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Noormarkku,FI,41.00,clear sky,61.5927,21.8685,
8,Kyzyl-Suu,KG,39.09,overcast clouds,42.3414,78.0056,
10,Nakhodka,RU,37.08,overcast clouds,42.8333,132.8947,
12,Agapovka,RU,21.20,broken clouds,53.2973,59.1348,
43,Hornepayne,CA,27.25,snow,49.2138,-84.7705,
46,Ushuaia,AR,44.60,broken clouds,-54.8000,-68.3000,
57,Honningsvag,NO,39.20,clear sky,70.9821,25.9704,
60,Kovdor,RU,34.27,broken clouds,67.5662,30.4758,
76,Severo-Kurilsk,RU,23.92,broken clouds,50.6789,156.1250,
81,Amot,NO,23.56,few clouds,59.5714,7.9877,

In [54]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [55]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()

In [57]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [58]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Weather Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [59]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.75)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))